<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>
      {{ page_title }} | {{ site.name }} | {{ site.description }}
    </title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500" rel="stylesheet">

    <script defer="defer" src="/admin/assets/admin.bundle.js"></script>
    <script defer="defer" src="/admin/assets/{{ template }}.bundle.js"></script>
    <script id="data">
      window.siteData = {
        page_title: '{{ page_title }}',
        canonical_url: '{{ canonical_url }}',
        template: '{{ template }}',
        suffix: '{{ suffix }}',
        site: {{ site }},
        {% if themes %}themes: {{ themes }},{% endif %}
        {% if theme %}theme: '{{ theme }}',{% endif %}
        {% if fileTree %}fileTree: {{ fileTree }},{% endif %}
      }
    </script>
    {% include 'root' %}
  </head>
  <body class="bg-grey-lightest min-h-full font-sans flex">
    <main id="{{ template }}">
      <noscript>
        {% block 'content' %}
          <h1>Admin</h1>
        {% endblock %}
      </noscript>
    </main>
  </body>
</html>
